<main role="main">
  <div class="centralizarVertical">
    <section>
      <div class="container centralizar">
        <h2 class="centralizar">Login</h2>
        <form method="post" #frm="ngForm" (ngSubmit)="logar(frm)">
          <div class="form-group container40 centralizar">
            <mat-form-field appearance="legacy">
              <mat-label for="usuario">Usuário</mat-label>
              <input matInput type="text" id="usuario" name="usuario" placeholder="usuario"
                [(ngModel)]="usuario.usuario" required />
            </mat-form-field>
          </div>

          <div class="form-group container40 centralizar">
            <mat-form-field appearance="legacy">
              <mat-label for="senha">Senha</mat-label>
              <input matInput type="password" id="senha" name="senha" placeholder="Senha" [(ngModel)]="usuario.senha"
                required />
            </mat-form-field>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="frm.invalid">Login</button>
        </form>
      </div>
    </section>
  </div>
</main>