<main role="main">
  <section class="my-4">
    <div class="container centralizar">
      <h2>Cadastro de Animal</h2>
    </div>
  </section>

  <section>
    <div class="container">
        <button type="submit" mat-raised-button color="primary" class="btn btn-primary" (click)="retornar()">Retornar</button>
    </div>
    <br>
  </section>

  <section>
    <div class="container">
      <form method="post" #frm="ngForm" (ngSubmit)="adicionar(frm)">

        <div class="form-group container60">
          <mat-form-field appearance="legacy">
            <mat-label for="nome">Nome</mat-label>
            <input matInput id="nome" name="nome" placeholder="Nome" [(ngModel)]="animal.nome" required />
          </mat-form-field>
        </div>

        <div class="form-group container60">
          <mat-form-field appearance="legacy">
            <mat-label for="raca">Raça</mat-label>
            <input matInput id="raca" name="raca" placeholder="Raca" [(ngModel)]="animal.raca" required />
          </mat-form-field>
        </div>

        <div class="form-group container20">
          <label for="data">Data Nascimento</label>
          <input type="date" id="data" name="data" class="form-control" placeholder="Data"
            [(ngModel)]="animal.dataNascimento" required />
        </div>

        <button *ngIf="inclusao" type="submit" mat-raised-button color="primary" class="btn btn-primary"
          [disabled]="frm.invalid">Adicionar</button>

        <button *ngIf="!inclusao" type="submit" mat-raised-button color="primary" class="btn btn-primary"
          [disabled]="frm.invalid">Alterar</button>
      </form>
    </div>
  </section>
</main>