<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header *ngIf="mostrarMenu">
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" routerLink="/cad-pessoa">Pessoas</a>
            <a class="navbar-brand" routerLink="/cad-produto">Produtos</a>
            <a class="navbar-brand" routerLink="/cad-fornecedor">Fornecedor</a>
            <a class="navbar-brand" routerLink="/mod-vendas">Vendas</a>
            <a class="navbar-brand" routerLink="/rel-vendas">Relatório de Vendas</a>
            <a class="navbar-brand" routerLink="/mov-vacina">Vacinas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>