<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header>

    <div *ngIf="mostrarMenu" class="row">
        <nav class="navbar navbar-primary fixed-top bg-primary navbar-expand-lg flex-md-nowrap p-0 shadow">
            <div class="col-md-4">
                <a class="navbar-brand" style="color: white" routerLink="/home"><b>Sistema de Clínica e Petshop</b></a>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2" style="align-content: flex-end">
                <button style="z-index: 1; width: 200px" class="btn btn-outline-dark" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon style="color: white">person</mat-icon><b style="color: white"> {{nomeUsuarioLogado}}</b>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="deslogar()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>
            </div>
        </nav>
    </div>
    <app-login *ngIf="!mostrarMenu"></app-login>
    <div *ngIf="mostrarMenu" class="row" style="padding-top: 40px; height: 768px;">
        <div class="col-md-2" style="background-color: #c2cad6">
            <nav class=" d-none d-md-block bg-light sidebar dash">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item mouseMaozinha">
                            <div class="navbar-link" routerLink="/home">
                                <button mat-icon-button>
                                    <mat-icon>home</mat-icon>
                                </button>
                                Home
                            </div>
                        </li>
                        <li class="nav-item mouseMaozinha">
                            <div class="navbar-link" routerLink="/cad-pessoa">
                                <button mat-icon-button>
                                    <mat-icon>person</mat-icon>
                                </button>
                                Pessoas
                            </div>
                        </li>
                        <li class="nav-item mouseMaozinha">
                            <div class="navbar-link" routerLink="/cad-produto">
                                <button mat-icon-button>
                                    <mat-icon>local_mall</mat-icon>
                                </button>
                                Produtos
                            </div>
                        </li>
                        <li class="nav-item mouseMaozinha">
                            <div class="navbar-link" routerLink="/cad-fornecedor">
                                <button mat-icon-button>
                                    <mat-icon>local_shipping</mat-icon>
                                </button>
                                Fornecedor</div>
                        </li>
                        <li class="nav-item mouseMaozinha">
                            <div class="navbar-link" routerLink="/mod-vendas">
                                <button mat-icon-button>
                                    <mat-icon>monetization_on</mat-icon>
                                </button>
                                Vendas</div>
                        </li>
                        <li class="nav-item mouseMaozinha">
                            <div class="navbar-link" routerLink="/rel-vendas">
                                <button mat-icon-button>
                                    <mat-icon>chrome_reader_mode</mat-icon>
                                </button>
                                Relatório de Vendas</div>
                        </li>
                        <li class="nav-item mouseMaozinha">
                            <div class="navbar-link" routerLink="/mov-vacina">
                                <button mat-icon-button>
                                    <mat-icon>colorize</mat-icon>
                                </button>
                                Vacinação</div>
                        </li>
                        <li class="nav-item mouseMaozinha">
                            <div class="navbar-link" routerLink="/controle-vacina">
                                <button mat-icon-button>
                                    <mat-icon>calendar_today</mat-icon>
                                </button>
                                Controle de Vacinas</div>
                        </li>
                    </ul>

                </div>

            </nav>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>

</header>