/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container100 > * {
    width: 100%;
}
.container10 > * {
    width: 10%;
}
.container30 > * {
    width: 30%;
}
.container70 > * {
    width: 70%;
}

.container60 > * {
    width: 60%;
}

.container40 > * {
    width: 40%;
}

.container80 > * {
    width: 80%;
}

.container50 > * {
    width: 50%;
}

.container20 > * {
    width: 20%;
}

.container90 > * {
    width: 90%;
}

.centralizar > * {
    text-align: center
}

.centralizarVertical > * {
    margin-top: 15%;
}

.espacosPadding > * {
    text-align: center;
}